{% extends "base.html" %}
{% block title %}{{ category }} | {% endblock %}
{% block content %}
  <h1 class="word-title">{{ category }}</h1>
  {% if not category_has_words %}
    <a href="{{url_for('delete_category', categoryname=category)}}" class="inconspicuous-link">delete category</a>
  {% endif %}

  <ul>
  {% for word in words %}
    <li class="word-list-item">
      <a href="{{ url_for('show_definition', word=word.word) }}" class="word-link">{{ word.word }}</a>
      - {{ word.definition }}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
