<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Acronym Dictionary</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul>
      {% for message in messages %}
      <li><h2>{{ message }}</h2></li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  <h1 class="title-main">change word {{ word.word }}</h1>
  <form method='POST' enctype='multipart/form-data' action={{ url_for('edit_definition', word=word.word) }}>
    <input name="word" type="text" value="{{ word.word }}">
    <input name="definition" type="text" value="{{ word.definition }}">
    <input type="submit" value="Save">
    <a href={{ url_for('main') }}>cancel</a>
  </form>

</body>
</html>


